{% extends 'base1.html' %}

{% block title %}Login{% endblock %}

{% block cuerpo %}

<section id="main-content" style="margin-left: -25px;">
          <section class="wrapper">

              <div class="row">
                  <div class="col-lg-1">
                  </div>
                  <div class="col-lg-10">
                  <h2 class="text-center">Login</h2>
                  <div class="row text-center">
                    <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>

                  </form>

                  </div>
                  </div>
                  <div class="col-lg-1">
                  </div>
              </div>
          </section>
</section>

{% endblock %}