{% extends 'base.html' %}




{% block cuerpo %}

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">

              <div class="row mt ">
                  <div class="col-lg-12">
					  <h3><i class="fa fa-angle-right"></i> Clases</h3>





                      <table class="table">
                    <thead>
                      <tr>
                        <th>Clase</th>
                        <th>Titulo</th>
                        <th>Dscripcion</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in valores %}

                        <tr>

                        <td>{{ i.Clase }}</td>
                        <td>{{ i.Titulo }}</td>
                        <td>{{ i.Descripcion }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    </table>


                  </div><!-- /col-lg-9 END SECTION MIDDLE -->


      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->


              </div><! --/row -->
          </section>
      </section>

{% endblock %}