{% extends 'base1.html' %}

{% block title %}Login{% endblock %}

{% block cuerpo %}

<section id="main-content" style="margin-left: -25px;">
          <section class="wrapper">

              <div class="row">
                  <div class="col-lg-1">
                  </div>
                  <div class="col-lg-10">
                  <h2 class="text-center">Error</h2>
                  <div class="row text-center">
                      <h3>Lo sentimos dicho producto no existe en la base de datos</h3>
                      <a href="http://159.89.189.145/tomafisica/">Consultar otro producto</a>

                  </div>
                  </div>
                  <div class="col-lg-1">
                  </div>
              </div>
          </section>
</section>

{% endblock %}